<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>
    <appender name="alertAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                ### MOON ALERT ### %d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level - %msg%n
            </Pattern>
        </layout>
    </appender>

    <appender name="monitorAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                +++ MOON MONITOR +++ %d{yyyy-MM-dd HH:mm:ss} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="moon.alert" level="error"
            additivity="false">
        <appender-ref ref="alertAppender" />
    </logger>
    <logger name="moon.monitor" level="info"
            additivity="false">
        <appender-ref ref="monitorAppender" />
    </logger>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>